[
    {"name": "Artur", "id": ""},
    {"name": "Jadis (Emotional)", "id": ""},
    {"name": "Jadis (Casual)", "id": ""},
    {"name": "Bogdan", "id": ""},
    {"name": "Ramallah", "id": ""},
    {"name": "Nagoev", "id": ""}
]
